.normal-newjob {
  padding: 10px 20px;
  width: 55%;
  background: white;
  box-shadow: 0px 0px 30px #b1b1b1;
}

.payment-offer {
  padding-bottom: 10px;
}

abbr[title] {
  text-decoration: none;
  border: none;
}

#job_payment {
  max-width: 80px;
}
