.container-job-show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 83vh;
}

.business-contract-card {
  list-style: none;
  width: 85vw;
  background-color: $light-gray;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  padding: 15px 15px 15px 15px;
  margin: 8vh;
  margin-bottom: 8vh;
}
.price-offer {
  margin: 0;
}
