<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->
<%= link_to "My Jobs (Temporary)", business_jobs_path %>
<br>
<%= link_to "Create a Job (Temporary)", new_business_job_path %>
