.signup-banner {
  background: linear-gradient(-225deg, rgba(31, 27, 37, 0.6) 0%, rgba(28, 79, 102, 0.2) 50%), url("https://images.pexels.com/photos/1681/person-woman-camera-photographer.jpg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat center;
  width: 100vw;
  background-size: cover !important;

  align-items: center;
  justify-content: center;
  margin-top: 2px;
  height: 87vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  position: relative;

}

.signup-card {
  width: 35vw;
  min-width: 320px;
  background-color: $light-gray;
  opacity: 1;
  padding: 20px;
  border-radius: 3px;
}
